.idea
*.DS_Store
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
.mono/
.directory
*~
.vscode
release

# utils
*.log
*.wav
*.mp3


# jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata