# Godot 4+ specific ignores
godot/.godot/   


.idea
*.DS_Store

# Godot-specific ignores
*.import
.import/
export.cfg
export_presets.cfg
.mono/
.directory
*~
.vscode

# utils
*.log
*.zip

# This repository specific

# gh-pages
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata