# For godot4
godot/.godot

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
.mono/
.directory
*~
.vscode

# utils
*.log
*.zip

# This repository specific

# gh-pages
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata


godot/android